<!doctype html>
<head>
    <title>docgenerator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dauxer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">docgenerator</a>
        </div>
    </nav>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</body>
</html>
