{% extends 'base.html' %}

{% block content %}

{% if error %}
{{error}}
{% endif %}

{% if projects %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Project Listing</h2>
			<div id="project-list">
				<ul class="list-unstyled">
				    {% for project in projects %}
				    <li><h3><a href="/project/{{project.project}}/">{{project.project}}</a></h3>
				    	<ul class="list-unstyled">
				    		<li>Project Lead: <a href="mailto:{{project.email}}">{{project.owner}}</a></li>
				    	</ul>
				    </li>
				    {%endfor%}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}